# Constle CODEOWNERS

/spec/            @constle/core
/cmd/             @constle/core
/internal/        @constle/core
/pkg/             @constle/core
/scripts/         @constle/core
/examples/        @constle/core
/.github/         @constle/core
